{% extends "modelo.html" %}
{% block conteudo %}

<div class="d-flex justify-content-center align-items-center pt-3">
<h1>Sobre a empresa</h1>
</div>

<div class="d-flex justify-content-center align-items-center pt-3">
<p>
  O início desse projeto se deu através da iniciativa de quatro colegas de faculdade em que visamos uma deficiência em um mercado tão grande que é o da barbearia, percebemos que com essa ideia facilitaríamos a busca de quem procura bons profissionais em sua região, assim desenvolvemos o aplicativo Gold Barber.   
</p>
</div>

<div class="d-flex justify-content-center align-items-center pt-3">
  <p>
    Somos uma empresa que visa beneficiar tanto um profissional que busca oportunidades quanto o cliente que deseja uma boa aparência, nós intermediamos ambos para que possam ter uma ótima experiência. Assim utilizamos o aplicativo para que eles possam se conectar e acordarem valores e produtos. 
  </p>
  </div>

<div class="d-flex justify-content-center align-items-center pt-3"></div>
<p>
  Aqui nós priorizamos o cliente, prezamos para que ele esteja sempre satisfeito e feliz com sua escolha.
  Procuramos os melhores e mais bem classificados profissinais para o nosso aplicativo.
</p>
</div>


{% endblock %}